<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FOLDER" value="logs" />

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Student Logs Appender (No base file, uses rotation pattern directly) -->
    <appender name="CreditInqueryLogs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER}/creditLogs.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Logger for StudentController & StudentServiceImpl -->
    <logger name="com.example.CreditScoreSystem.controller.CreditInquiriController" level="INFO" additivity="false">
        <appender-ref ref="CreditInqueryLogs"/>
    </logger>
    <logger name="com.example.CreditScoreSystem.service.impl.CreditInquiriesServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="CreditInqueryLogs"/>
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>